.wam-no-wrap {
	white-space: nowrap;
}
.dropdown-menu > li > a {
	padding: 3px 10px;
}
.open > .dropdown-menu {
	display: block;
	width: 100%;
}

.wam-text-size-1 {
	font-size : 20px;
}


.wam-btn-1 {
	margin-top: 10px;
}
.wam-btn-2 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.wam-margin-top-0 {
	margin-top: 0px;
}
.wam-margin-top-1 {
	margin-top: 5px;
}
.wam-margin-top-2 {
	margin-top: 15px;
}

.wam-margin-top-3 {
	margin-top: 30px;
}

.wam-margin-bottom-0 {
	margin-bottom: 0px;
}
.wam-margin-bottom-0-1 {
	margin-bottom: 5px;
}
.wam-margin-bottom-1 {
	margin-bottom: 15px;
}

.wam-margin-bottom-2 {
	margin-bottom: 30px;
}

.wam-margin-bottom-3 {
	margin-bottom: 50px;
}
.wam-margin-left-1 {
	margin-left: 5px;
}
.wam-margin-left-2{
	margin-left: 10px;
}
.wam-margin-left-3 {
	margin-left: 10px;
}
.wam-margin-right-1 {
	margin-right: 5px;
}
.wam-margin-right-2 {
	margin-right: 10px;
}
.wam-margin-right-3 {
	margin-right: 20px;
}

.wam-font-1{
	font-family: 'Roboto Slab', serif;
}

.wam-top-radius{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.wam-radius{
	border: 0px solid CornflowerBlue;
	border-radius: 10px;
}

.wam-hidden{
	display: none;
}
.wam-min-height-4{
	min-height: 150px;
}
.wam-not-padding {
	padding: 4px;
	margin-bottom: 4px;
}
/*FullCalendar
*/
/*Общие настройки таблицы*/
@media (min-width: 992px) {
	.fc th, .fc td {
		border-width: 2px;
		border-color: #b7b7b7;
		font-family: 'Roboto Slab', serif;
		font-size: 30px;
		color: #675f6f;
	}
	/*фон суммы*/
	.fc-event {
		height: 100px;
	}

	.wam-font-size-1 {
		font-size: 14px;
	}

	.wam-font-size-2 {
		font-size: 20px;
	}
}
@media (max-width: 992px) {
	.fc th, .fc td {
		border-width: 2px;
		border-color: #b7b7b7;
		font-family: 'Roboto Slab', serif;
		font-size: 16px;
		/*color: #675f6f;*/
	}
	.modal-body {
		padding: 0px;
		padding-right: 7px;
		padding-left: 7px;
		padding-bottom: 7px;
	}
	.modal-header {
		padding: 7px;

	}
	.wam-font-size {
		font-size: 14px;
	}
	.wam-font-size-1 {
		font-size: 12px;
	}
	.wam-font-size-2 {
		font-size: 16px;
	}
	.wam-not-padding-xs {
		padding: 0px;
		margin-bottom: 0px;
		margin-top: 0px;
	}
	h3, .h3 {
		font-size: 20px;
	}
	h4, .h4 {
		font-size: 18px;
	}
	.wam-margin-bottom-1 {
		margin-bottom: 5px;
	}
	.fc-event-dot {
		display: inline-block;
		width: 20px;
		height: 20px;
		border-radius: 0px;
	}
	.wam-img-xs-1 {
		width: 50%;
	}
	.wam-img-xs-2 {
		width: 100%;
	}
}
/*Принудительно скрываем скролбар*/
.fc-scroller {
	overflow-y: hidden !important;
}
/*Возврат фокуса на модальное окно после закрытия второго, убирание сдвигания страницы при открытии модального окна
*/
.modal {
	overflow: auto !important;
	font-family: 'Roboto Slab', serif;
}
.modal-open{overflow-y: visible;}
.modal-open {
	padding-right: 0px !important;
}
.modal-backdrop {
	position: fixed;
	bottom: 0;
}

.form-inline .form-control {
	display : block;
}

label {
	display : block;
}

div.dataTables_filter input {
	margin-left: 0.5em;
	display: block;
}

div.dataTables_filter {
	text-align: left;
}
/*
Общая ширина контента
*/
.content {
	font-family: 'Roboto Slab', serif;
}
.modal-body{
	font-family: 'Roboto Slab', serif;
}
/*настройки для широкого экрана*/
@media (min-width: 992px) {
	body {
		background-color: #e6e6e6;
	}
	.modal-lg {
		width: 800px;
	}
	.content {
		width : 992px;
		background-color : #fff;
		margin: 0 auto;
		padding: 0;
	}
	/*Стиль прогресс баров
	*/
	.progress {
		height : 30px;
	}

	.wam-progress-height-2 {
		height : 20px;
	}

	.wam-margin-left-3 {
		margin-left: 30px;
	}
	.wam-min-height-0{
		min-height: 800px;
	}
	.wam-min-height-1{
		min-height: 500px;
	}
	.wam-min-height-2{
		min-height: 400px;
	}
	.wam-min-height-3{
		min-height: 300px;
	}
	.wam-min-height-4{
		min-height: 250px;
	}
}
/*Стиль для слайдера фотографий
*/
.slider {
	position: relative;
	/*padding:50px;*/
	background:#f8f8f8;
	/*padding-top:130px;*/
}

.slider img {
	width: 100%;
}

#carousel-slider {
	position: relative;
}

#carousel-slider .carousel-indicators {
	bottom: -35px;
}

#carousel-slider .carousel-indicators li {
	border: 1px solid #ffbd20;
}

#carousel-slider a i {
	border: 1px solid #d9ae6a;
	border-radius:50%;
	font-size: 28px;
	height: 50px;
	padding: 8px;
	position: absolute;
	top: 43%;
	width: 50px;
	color:#fff;
	background:#d9ae6a;
}

#carousel-slider a i:hover {
	background:#deae62;
	color:#fff;
	border: 1px solid #d9ae6a;
}

#carousel-slider
.carousel-control {
	width:inherit;
}

#carousel-slider .carousel-control.left i {
	left:50px
}

#carousel-slider .carousel-control.right i {
	right: 50px;
}

#carousel-slider
.carousel-control.left,
#carousel-slider
.carousel-control.right {
	background: none;
}
.wam-ontop {
	z-index: 100;
	position: absolute;
}
.wam-bold {
	font-weight: bold;
}
.wam-without-truncate1 dt{
	white-space: normal;
	width: 40%;
}
.wam-without-truncate1 dd{
	margin-left: 42%
}
.wam-color-income {
	color: #5cb85c;
}
.wam-color-expense {
	color: #f0ad4e;
}
#amounts_filter,
#searchDataTable {
	width: 100%;
	padding: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.wam-padding-left-0 {
	padding-left: 0px
}
.wam-padding-right-0 {
	padding-right: 0px;
}
.wam-content-login {
	width:100%;
	display: table;
	height:100%;
}
.wam-login {
	display: table-cell;
	vertical-align: middle;
}
